
@{
    ViewBag.Title = "Index";
}

<h2>ESPACE ADMIN</h2>




<img src="~/Content/images/picAdmin.jpg">
<br />
@Html.ActionLink("Gestion des utilisateurs", "Index", "Utilisateur")
<br />
@Html.ActionLink("Gestion des évènements", "Index", "Events")
<br />
@Html.ActionLink("Gestion des articles", "Index", "Articles")
<br />
@Html.ActionLink("Gestion des réservations", "Index", "Reservations")
<br />



