@{
    ViewBag.Title = "About";
}


<h2 style="color:darkblue;">A PROPOS</h2>

<p>Afin de divertir des personnes, des familles, des communautés, nous offrons l’opportunité à des organisateurs d’activités culturelles, 
    de rencontres sportives, …de mettre à la disposition d’un plus grand nombre, leurs évènements via une plateforme web.

    En effet, des hommes, des femmes et des enfants, …, pourront se retrouver entre amis, collègues ou en famille
     afin de partager et d’échanger autour d’un verre, d’un laser Game, … ou bien d’un événement sportif et bien plus encore,
      à proximité de leur domicile, leur lieu de travail, leur destination de vacances en France, …  
