@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@








<br/>

    <address>
        ARSONVAL<br />
        Paris , 15<br />
        <abbr title="Phone">Phone:</abbr>
        +33 (0) 6 00 00 00 00
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@shoomee.fr">Support@shoomee.fr</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@shoomee.fr">Marketing@shoomee.fr</a>
    </address>

